@import "tailwindcss";

@theme {
  --color-arctic-powder: #F1F6F4;
  --color-mystic-mint: #D9E8E2;
  --color-forsythia: #FFC801;
  --color-deep-saffron: #FF9932;
  --color-nocturnal-expedition: #114C5A;
  --color-oceanic-noir: #172B36;
  
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}